/* add styles here */

body {
  margin: 0;
  padding: 0 20px;
  background: url(/img/page_bg.png) repeat;
  font: .8em Helvetica, sans-serif;
}

h2 {
  margin-bottom: .5em;
}

/* Header styling */
#header {
  position: relative;
  margin: 0 -20px;
  padding: 0;
  background: url(/img/header_bg.png) repeat-x;
  color: #fff;
}

#header h2 {
  margin: 0;
  padding: 5px 10px;
}

#testrun_selection {
  margin: 20px 0;
  padding: 1px 10px;
  background: url(/img/testrun_bg.png) repeat-x;
  font-size: 1em;
}

#header a {
  color: #ff9;
  text-decoration: none;
}

#testrun_selection form {
  margin: 0;
}

#page_controls select, #filter select {
  margin: 0 15px 0 5px;
}

#content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#filter {
  width: 300px;
  text-align: left;
}

#content #navigation {
  margin: 0 35px 10px;
  text-align: right;
}

#account {
  position: absolute;
}

#profile {
  border:4px solid #edd;
  background:#fee;
  padding:8px;
  margin-bottom:8px;
}

#items {
  border:4px solid #dde;
  background:#eef;
  padding:8px;
  width:60%;
  float:left;
}

#sidebar {
  border:4px solid #dfd;
  padding:8px;
  float:right;
  width:30%;
}

#items li {
  border:4px solid #f5f5ff;
  background:#fff;
  padding:8px;
  margin:4px 0;
}

form {
  padding:4px;
  margin:6px;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

#items ul {
  list-style: none;
}

table {
  margin-bottom: 20px;
  border: 1px solid #aaa;
  -moz-border-radius: 10px;
  border-spacing: 0;
  padding: 5px;
  background-color: #fff;
}

table th {
  padding: 5px 10px 5px 20px;
  background-color: #eee;
}

table td {
  border-bottom: 1px dotted #aaa;
  border-right: 1px dotted #aaa;
  padding: 5px 10px;
  vertical-align: top;
}

table#results td, table#results th {
  margin: 0;
}

table#results td.results {
  text-align: right;
}

table#information td {
  border: none;
}

table#information th {
  text-align: right;
}

table#result td, table#result th {
  margin: 0;
  min-width: 7em;
}

table#result tr.passed td {
  color: #181;
}

table#result tr.failed td {
  color: #811;
}

table#result tr.skipped td {
  color: #f90;
}

.tooltip {
  display: none;
}

table#result tr.failed td.information:hover .tooltip{
  position: absolute;
  display: block;
  overflow: scroll;
  width: 400px;
  border: 1px solid #333;
  -moz-border-radius: 10px;
  padding: 5px 10px;
  background-color: #fff;
}

th.headerSortUp { 
  background-image: url(../img/asc.gif) !important; 
  background-color: #eee;
  background-position: right center;
}

th.headerSortDown { 
  background-image: url(../img/desc.gif) !important;
  background-color: #eee;
  background-position: right center;
}

th.header {
  background-image: url(../img/bg.gif);
  cursor: pointer; 
  font-weight: bold; 
  background-repeat: no-repeat; 
  background-position: center left; 
  padding-left: 20px; 
  border-right: 1px solid #dad9c7; 
  margin-left: -1px; 
} 

span.branch-select {
  cursor: pointer;
  padding-left: 20px;
}
span.pagination {
  cursor: pointer;
  padding-left: 20px;
}

span.selected {
  background-color: #555;
}