/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* add styles here */

body {
  margin: 0;
  padding: 0 20px;
  background: url(/img/page_bg.png) repeat;
  font: .8em Helvetica, sans-serif;
}

h2 {
  margin-bottom: .5em;
}

/* Header styling */
#header {
  position: relative;
  margin: 0 -20px;
  padding: 0;
  background: #25292b;
  color: #e5e5e5;
}

#header h2 {
  margin: 0;
  padding: 5px 10px;
  border-bottom: 1px solid #101010;
}

.topnav {
  list-style: none;
  float: left;
  width: 100%;
  height: 33px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #101010;
  background: #3b454d;
  font-size: 1em;
}

.topnav li {
  float: left;
  position: relative;
}

.topnav a {
  padding: 10px 10px;
  color: #d6d6d6;
  display: block;
  text-decoration: none;
  float: left;
}

.topnav a:hover {
  color: #fff;
}

.topnav ul {
  list-style: none;
  position: absolute;
  left: -9999px;
  top: 31px;
  background: #3b454d;
  margin: 0;
  padding: 0;
  float: left;
  width: 170px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

ul.topnav li:hover ul.subnav {
  left: 0;
}

ul.topnav li ul.subnav li{
  margin: 0; padding: 0;
  clear: both;
  width: 170px;
}

.topnav ul a {
  float: left;
  width: 151px;
  background: #3b454d;
  padding-left: 20px;
}

.topnav ul a:hover {
  background: #3b454d;
}

#page_controls select, #filter select {
  margin: 0 15px 0 5px;
}

#content {
  margin: 0 auto;
  padding-top: 10px;
  clear: both;
}

#filter {
  width: 68em;
  line-height: 1.6em;
  text-align: left;
}

#filter div {
  margin-bottom: 5px;
}

#filter div:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ' ';
}

#filter span {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}

#filter label {
  float: left;
  width: 6.1em;
  padding: 0 5px;
}

#filter a.selected {
  color: #000;
  font-weight: bold;
  cursor: default;
  text-decoration: none;
}

#content #navigation {
  margin: 0 35px 10px;
  text-align: right;
}

#account {
  position: absolute;
}

#profile {
  border:4px solid #edd;
  background:#fee;
  padding:8px;
  margin-bottom:8px;
}

#items {
  border:4px solid #dde;
  background:#eef;
  padding:8px;
  width:60%;
  float:left;
}

#sidebar {
  border:4px solid #dfd;
  padding:8px;
  float:right;
  width:30%;
}

#items li {
  border:4px solid #f5f5ff;
  background:#fff;
  padding:8px;
  margin:4px 0;
}

form {
  padding:4px;
  margin:6px;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

#items ul {
  list-style: none;
}

table {
  margin-bottom: 20px;
  border: 1px solid #aaa;
  -moz-border-radius: 10px;
  border-spacing: 0;
  background: #fff;
}

table th {
  padding: 5px 10px 5px 20px;
  vertical-align: top;
  font-weight: normal;
}

table td {
  border-bottom: 1px dotted #aaa;
  border-right: 1px dotted #aaa;
  padding: 5px 10px;
  vertical-align: top;
  text-align: left;
}

/* Targeting the individual result table only */
table#result {
  border-collapse: collapse;
}

table#result thead {
  border-bottom: 1px solid #aaa;
}

table#result td {
  border-bottom: 1px dotted #aaa;
}

table#result tbody tr:nth-child(even) {
  background: #f7f7f7;
}

/* Targeting the full results table only */
table#results {
  border-collapse: collapse;
}

table#results thead {
  border-bottom: 1px solid #aaa;
}

table#results td {
  border-bottom: 1px dotted #aaa;
}

table#results tbody tr:nth-child(even) {
  background: #f7f7f7;
}

/* Any "no results" row bypasses alternate coloring */
table tr#noresults td {
  background: #fff;
}

table#graphics {
  display: none;
  margin: 10px 0 0 0;
}

table#information {
  padding: 5px;
}

#result td:last-child {
  min-width: 38em;
}

table#results td, table#results th {
  margin: 0;
}

table#results td.results {
  text-align: right;
}

table.clean td {
  border: none;
  vertical-align: top;
}

table.clean th {
  text-align: right;
}

table#result td, table#result th {
  margin: 0;
  min-width: 7em;
}

table#result tr.passed td {
  color: #181;
}

table#result tr.failed td {
  color: #811;
}

table#result tr.skipped td {
  color: #f90;
}

table .information {
  vertical-align: top;
  margin: 0;
  padding: 0 10px;
}

.tooltip {
  background: rgb(243, 243, 243);
  border: 1px solid rgb(216, 213, 213);
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgb(191, 189, 189);
  display: none;
  font-size: 1.2em;
  font-family: monospace;
  margin: 1em 0;
  padding: .5em 1em;
  white-space: pre;
}

.tooltip div {
  overflow: auto;
  max-width: 35em;
  max-height: 30em;
}

.tooltip.active {
  display: block;
}
.show-tooltip {
  font-size: 0.8em;
}

thead tr {
  background: #fafafa;
}

th.headerSortUp {
  background-image: url(../img/asc.gif) !important;
  background: #eee;
  background-position: left center;
}

th.headerSortDown {
  background-image: url(../img/desc.gif) !important;
  background: #eee;
  background-position: left center;
}

th.header {
  background-image: url(../img/bg.gif);
  cursor: pointer;
  font-weight: normal;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 20px;
  border-right: 1px solid #aaa;
  margin-left: -1px;
}

span.selected {
  background: #555;
  color: #ffe;
}

span.pagination {
  cursor: pointer;
  padding-left: 20px;
}

.passed {
  color: #181;
}

.failed {
  color: #811;
}

.skipped {
  color: #f90;
}

.chart {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 450px;
  height: 300px;
}

ul.addons {
  list-style:none;
  margin: 0;
  padding: 0;
}

ul.addons ul {
  margin: 0;
  padding: 0;
}

ul.addons ul li {
  margin-left: 2em;
}
