<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - {{site_title}}</title>
    <link rel="stylesheet" href="../../style/base-min.css" type="text/css">
    <link rel="stylesheet" href="../../style/main.css" type="text/css">
  </head>
  <body>
    <div id="header">
      <div id="account"></div>
      <div>
        <a href="/general/reports">General</a> |
        <a href="/update/reports">Updates</a> |
        <a href="/addons/reports">Add-ons</a>
      </div>
      <h1><strong>{{site_title}}:</strong> <a href="{{path}}">{{title}}</a></h1>
    </div>
