{% extends "base.html" %}

{% block site_css %}
  {{ css('reports') }}
{% endblock %}

{% block site_js %}
  {{ js('reports_js') }}
{% endblock %}


{% block content %}
{% include "display/filter.html" %}

<h2 class='title'> Reports for {{report_type}} tests</h2>
<div id="results">
<table id="dt_example" class="display" cellpadding="0" cellspacing="0" border="0">
  <thead>
  <tr>
    <th class='header'>Function Name</th>
    <th class='header'>Failures</th>
  </tr>
  </thead>
{% for fail in topfails %}
  <tr>
    <td>{{fail.term}}</td>
    <td>{{fail.count}}</td>
</tr>
{% endfor %}
</table>
</div>


{% endblock %}
