{{>header}}
<p>
  {{#key_prev}}<span><a href="{{path}}?endkey=[&quot;{{key_prev}}&quot;, {}]">Previous</a></span>&nbsp;{{/key_prev}}
  {{#key_next}}<span><a href="{{path}}?startkey=[&quot;{{key_next}}&quot;, {}]">Next</a></span>{{/key_next}}
</p>

<table id="results">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Version</th>
      <th>Build</th>
      <th>Platform</th>
      <th>Version</th>
      <th>CPU</th>
      <th>Locale</th>
      <th># Pass</th>
      <th># Skip</th>
      <th># Fail</th>
    </tr>
  </thead>
  <tbody>
  {{#reports}}
    <tr>
      <td>{{index}}</td>
      <td><a href="report/{{id}}">{{time_start}}</a></td>
      <td>{{application_version}}</td>
      <td>{{buildId}}</td>
      <td>{{system}}</td>
      <td>{{system_version}}</td>
      <td>{{processor}}</td>
      <td>{{locale}}</td>
      <td class="results">{{tests_passed}}</td>
      <td class="results">{{tests_skipped}}</td>
      <td class="results">{{tests_failed}}</td>
    </tr>
  {{/reports}}
  </tbody> 
</table>
</body>

  <script src="../../script/myloader.js"></script>
  <script src="../../script/jquery.tablesorter.min.js"></script>
  <script src="/_utils/script/base64.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      //$(".date").prettyDate();
      $("#account").evently("account", app);
      var pr = app.ddoc.evently.profile.profileReady;
      pr.mustache = pr.all; // mod the template for this page
      $("#profile").evently("profile", app);
      $.evently.connect("#account","#profile", ["loggedIn","loggedOut"]);
    });

    $(document).ready(function() { 
      $("#results").tablesorter({ 
          // sort on the first column and third column, order asc 
          sortList: [[0,0]] 
      }); 
    });

  </script>
</html>
