{{>header}}
    <h2>Information</h2>
    <table>
      <tr>
       <td>Report Type:</td>
       <td>{{report_type}}</td>
      </tr><tr>
       <td>Application:</td>
       <td>{{app_name}} {{app_version}} ({{platform_version}}, {{app_locale}})</td>
      </tr><tr>
        <td>Sourcestamp:</td>
        <td><a href="{{app_sourcestamp}}">{{app_sourcestamp}}</a></td>
      </tr><tr>
        <td>Platform:</td>
        <td>{{os}} {{service_pack}} ({{cpu}})</td>
      </tr><tr>
        <td>Duration:</td>
        <td>{{time_start}} - {{time_end}}</td>
      </tr><tr>
        <td>Results:</td>
        <td>Pass: <strong>{{passed}}</strong> / Fail: <strong>{{failed}}</strong> / Skip: <strong>{{skipped}}</td>
      </tr>
    </table>

    <h2>Results</h2>
    <p id="filter">
      Filter:
      <a href="#" id="all">All</a>
      <a href="#" id="passed">Passed</a>
      <a href="#" id="failed">Failed</a>
      <a href="#" id="skipped">Skipped</a>
    </p>

    <table id="result">
      <thead>
        <th>Status</th>
        <th>Filename</th>
        <th>Test</th>
        <th>Information</th>
      </thead>
      <tbody>
        {{#results}}
        <tr class="{{status}}">
          <td>{{status}}</td>
          <td>{{filename}}</td>
          <td>{{test}}</td>
          <td>{{{information}}}</td>
        </tr>
        {{/results}}
      </tbody>
    </table>
  </body>

  <script src="../../script/myloader.js"></script>
  <script src="../../script/jquery.tablesorter.min.js"></script>
  <script src="/_utils/script/base64.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      $("#account").evently("account", app);
      $("#profile").evently("profile", app);
      $.evently.connect("#account","#profile", ["loggedIn","loggedOut"]);
      $.pathbinder.begin("{{begin}}");
    },{
      db : "mozmill",
      design : "dashboard"
    });

    $(document).ready(function() { 
      $("#result").tablesorter({ 
          // sort on the first column and third column, order asc 
          sortList: [[0,0],[1,0]] 
      }); 

      $("#all").fadeOut();
    });

    $("#all").click(function (event) {
      $("#filter a").fadeIn();
      $("#all").fadeOut();
      $("tr.passed").fadeIn("slow");
      $("tr.failed").fadeIn("slow");
      $("tr.skipped").fadeIn("slow");
       event.preventDefault();
    });

    $("#passed").click(function (event) {
      $("#filter a").fadeIn();
      $("#passed").fadeOut();
      $("tr.passed").fadeIn("slow");
      $("tr.failed").fadeOut("slow");
      $("tr.skipped").fadeOut("slow");
       event.preventDefault();
    });

    $("#failed").click(function (event) {
      $("#filter a").fadeIn();
      $("#failed").fadeOut();
      $("tr.passed").fadeOut("slow");
      $("tr.failed").fadeIn("slow");
      $("tr.skipped").fadeOut("slow");
       event.preventDefault();
    });

    $("#skipped").click(function (event) {
      $("#filter a").fadeIn();
      $("#skipped").fadeOut();
      $("tr.passed").fadeOut("slow");
      $("tr.failed").fadeOut("slow");
      $("tr.skipped").fadeIn("slow");
       event.preventDefault();
    });
  </script>
</html>
