    <h2>Information</h2>
    <table id="information" class="clean">
      <tr>
       <th>Result ID:</th>
       <td><a href="http://jsonviewer.stack.hu/#{{domain}}/db/{{id}}">{{id}}</a></td>
      </tr><tr>
       <th>Application:</th>
       <td>{{app_name}} {{app_version}} ({{platform_version}}, {{app_locale}}, {{platform_buildId}})</td>
      </tr><tr>
        <th>Sourcestamp:</th>
        <td><a href="{{app_sourcestamp}}">{{app_sourcestamp}}</a></td>
      </tr>{{#addonsIncluded}}<tr>
        <th>Add-ons:</th>
        <td>
          <ul class="addons">
            <li>Extensions:
            <ul>
              {{#extensions}}<li>{{name}} {{version}}
                ({{#isActive}}<span class="passed">enabled</span>{{/isActive}}{{^isActive}}<span class="failed">disabled</span>{{/isActive}},
                {{#isCompatible}}<span class="passed">compatible</span>{{/isCompatible}}{{^isCompatible}}<span class="failed">incompatible</span>{{/isCompatible}})</li>
              {{/extensions}}
              {{^extensions}}<li>None</li>{{/extensions}}
            </ul></li>
            <li>Themes:
            <ul>
              {{#themes}}<li>{{name}} {{version}}
                ({{#isActive}}<span class="passed">enabled</span>{{/isActive}}{{^isActive}}<span class="failed">disabled</span>{{/isActive}},
                {{#isCompatible}}<span class="passed">compatible</span>{{/isCompatible}}{{^isCompatible}}<span class="failed">incompatible</span>{{/isCompatible}})</li>
              {{/themes}}
              {{^themes}}<li>None</li>{{/themes}}
            </ul></li>
            <li>Plugins:
            <ul>
              {{#plugins}}<li>{{name}} {{version}}
                ({{#isActive}}<span class="passed">enabled</span>{{/isActive}}{{^isActive}}<span class="failed">disabled</span>{{/isActive}},
                {{#isCompatible}}<span class="passed">compatible</span>{{/isCompatible}}{{^isCompatible}}<span class="failed">incompatible</span>{{/isCompatible}})</li>
              {{/plugins}}
              {{^plugins}}<li>None</li>{{/plugins}}
            </ul></li>
          </ul>
        </td>
      </tr>{{/addonsIncluded}}<tr>
        <th>Platform:</th>
        <td>{{system}} {{system_version}} {{service_pack}} ({{cpu}})</td>
      </tr><tr>
        <th>Duration:</th>
        <td>{{time_start}} - {{time_end}}</td>
      </tr><tr>
        <th>Mozmill:</th>
        <td>{{mozmill_version}}</td>
      </tr><tr>
        <th>Results:</th>
        <td>Pass: <strong>{{passed}}</strong> / Fail: <strong>{{failed}}</strong> / Skip: <strong>{{skipped}}</td>
      </tr>
    </table>

    <h2>Target Add-on</h2>
    <table class="clean">
      {{#target_addon}}
      <tr>
        <th>ID:</th>
        <td>{{id}}</td>
      </tr><tr>
        <th>Name:</th>
        <td>{{name}}</td>
      </tr><tr>
        <th>Version:</th>
        <td>{{version}}</td>
      </tr>
      {{/target_addon}}
    </table>

    <h2>Results</h2>
    <p id="filter">
      Filter:
      <a href="#" id="all">All</a>
      <a href="#" id="passed">Passed</a>
      <a href="#" id="failed">Failed</a>
      <a href="#" id="skipped">Skipped</a>
    </p>

    <table id="result">
      <thead>
        <th>Status</th>
        <th>Filename</th>
        <th>Test</th>
        <th>Information</th>
      </thead>
      <tbody>
        {{#results}}
        <tr class="{{status}}">
          <td>{{status}}</td>
          <td>
            {{#repository_url}}<a href="{{repository_url}}">{{filename}}</a>{{/repository_url}}
            {{^repository_url}}{{filename}}{{/repository_url}}
          </td>
          <td>{{test}}</td>
          <td>
            <ul class="information">
            {{#info}}
              <li>
                {{{message}}}
                {{{image}}}
                {{#stack}}<div class="tooltip">{{{stack}}}<div>{{/stack}}
              </li>
            {{/info}}
            </ul>
          </td>
        </tr>
        {{/results}}
      </tbody>
    </table>
  </body>

