    <fieldset id="filter">
      <legend>Filter</legend>
      <div id="branch-selection">
        <span>Branch:</span>
        {{#firefox_versions}}
          <span>{{{.}}}</span>
        {{/firefox_versions}}
      </div>

      <div id="os-selection">
        <span>OS: </span>
        <span>All</span>
        <span>Linux</span>
        <span>Mac</span>
        <span>Win</span>
      </div>

      <div id="date">
        <span>From: </span>
        <input id="start-date" class="datepicker" type="text" value="" size="11" />
        <span>To: </span>
        <input id="end-date" class="datepicker" type="text" value="" size="11" />
      </div>
    </fieldset>

    <h2>Endurance Tests</h2>

    <script>
      chart1 = new Highcharts.Chart({
        chart: {
          borderColor: '#AAAAAA',
          borderRadius: 10,
          borderWidth: 1,
          renderTo: 'test-result-chart',
          defaultSeriesType: 'line'
        },
        plotOptions: {
          series: {
            marker: {
              enabled: false
            }
          }
        },
        credits: {
          enabled: false
        },
        series: [{
          name: "Passed",
          data: [{{#reports}}
            [Date.parse("{{time_start}}"), {{tests_passed}}],
          {{/reports}}],
          color: "green"
        },{
          name: "Skipped",
          data: [{{#reports}}
            [Date.parse("{{time_start}}"), {{tests_skipped}}],
          {{/reports}}],
          color: "orange"
        },{
          name: "Failed",
          data: [{{#reports}}
            [Date.parse("{{time_start}}"), {{tests_failed}}],
          {{/reports}}],
          color: "red"
        }],
        title: {
          text: 'Test Results'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Tests'
          }
        },
      });

      chart1 = new Highcharts.Chart({
        chart: {
          borderColor: '#AAAAAA',
          borderRadius: 10,
          borderWidth: 1,
          renderTo: 'average-explicit-chart',
          defaultSeriesType: 'line'
        },
        plotOptions: {
          series: {
            marker: {
              enabled: false
            }
          }
        },
        credits: {
          enabled: false
        },
        series: [{{#platform_reports}}{
          name: "{{name}}",
          data: [
            {{#reports}}
              [Date.parse("{{time_start}}"), {{#memory}}{{#explicit}}{{average}}{{/explicit}}{{^explicit}}""{{/explicit}}{{/memory}}],
            {{/reports}}],
        },{{/platform_reports}}],
        title: {
          text: 'Average Explicit Memory'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Memory Usage (MB)'
          }
        },
      });

      chart1 = new Highcharts.Chart({
        chart: {
          borderColor: '#AAAAAA',
          borderRadius: 10,
          borderWidth: 1,
          renderTo: 'average-resident-chart',
          defaultSeriesType: 'line'
        },
        plotOptions: {
          series: {
            marker: {
              enabled: false
            }
          }
        },
        credits: {
          enabled: false
        },
        series: [{{#platform_reports}}{
          name: "{{name}}",
          data: [
            {{#reports}}
              [Date.parse("{{time_start}}"), {{#memory}}{{#resident}}{{average}}{{/resident}}{{^resident}}""{{/resident}}{{/memory}}],
            {{/reports}}],
        },{{/platform_reports}}],
        title: {
          text: 'Average Resident Memory'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Memory Usage (MB)'
          }
        },
      });

      chart1 = new Highcharts.Chart({
        chart: {
          borderColor: '#AAAAAA',
          borderRadius: 10,
          borderWidth: 1,
          renderTo: 'duration-chart',
          defaultSeriesType: 'line'
        },
        plotOptions: {
          series: {
            marker: {
              enabled: false
            }
          }
        },
        credits: {
          enabled: false
        },
        series: [{{#platform_reports}}{
          name: "{{name}}",
          data: [
            {{#reports}}
              [Date.parse("{{time_start}}"), {{duration}} / 1000],
            {{/reports}}],
        },{{/platform_reports}}],
        title: {
          text: 'Duration'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Duration (s)'
          }
        },
      });
    </script>

    <div id="test-result-chart" class="chart" style="float:left"></div>
    <div id="duration-chart" class="chart"></div>
    <div id="average-explicit-chart" class="chart" style="float:left"></div>
    <div id="average-resident-chart" class="chart"></div>
