    <h2>Information</h2>
    <table id="information" class="clean">
      <tr>
       <th>Result ID:</th>
       <td><a href="{{path}}">{{id}}</a></td>
      </tr><tr>
       <th>Application:</th>
       <td>{{app_name}} {{app_version}} ({{platform_version}}, {{app_locale}}, {{platform_buildId}})</td>
      </tr><tr>
        <th>Sourcestamp:</th>
        <td><a href="{{app_sourcestamp}}">{{app_sourcestamp}}</a></td>
      </tr><tr>
        <th>Add-ons:</th>
        <td>
          <ul class="addons">
            <li>Extensions:
            <ul>
              {{#extensions}}<li>{{name}} {{version}}
                ({{#isActive}}<span class="passed">enabled</span>{{/isActive}}{{^isActive}}<span class="failed">disabled</span>{{/isActive}},
                {{#isCompatible}}<span class="passed">compatible</span>{{/isCompatible}}{{^isCompatible}}<span class="failed">incompatible</span>{{/isCompatible}})</li>
              {{/extensions}}
              {{^extensions}}<li>None</li>{{/extensions}}
            </ul></li>
            <li>Themes:
            <ul>
              {{#themes}}<li>{{name}} {{version}}
                ({{#isActive}}<span class="passed">enabled</span>{{/isActive}}{{^isActive}}<span class="failed">disabled</span>{{/isActive}},
                {{#isCompatible}}<span class="passed">compatible</span>{{/isCompatible}}{{^isCompatible}}<span class="failed">incompatible</span>{{/isCompatible}})</li>
              {{/themes}}
              {{^themes}}<li>None</li>{{/themes}}
            </ul></li>
            <li>Plugins:
            <ul>
              {{#plugins}}<li>{{name}} {{version}}
                ({{#isActive}}<span class="passed">enabled</span>{{/isActive}}{{^isActive}}<span class="failed">disabled</span>{{/isActive}},
                {{#isCompatible}}<span class="passed">compatible</span>{{/isCompatible}}{{^isCompatible}}<span class="failed">incompatible</span>{{/isCompatible}})</li>
              {{/plugins}}
              {{^plugins}}<li>None</li>{{/plugins}}
            </ul></li>
          </ul>
        </td>
      </tr><tr>
        <th>Platform:</th>
        <td>{{system}} {{system_version}} {{service_pack}} ({{cpu}})</td>
      </tr><tr>
        <th>Duration:</th>
        <td>{{time_start}} - {{time_end}}</td>
      </tr><tr>
        <th>Results:</th>
        <td>Pass: <strong>{{passed}}</strong> / Fail: <strong>{{failed}}</strong> / Skip: <strong>{{skipped}}</td>
      </tr>
    </table>

    <h2>Endurance</h2>
    <table class="clean">
      <tbody>
        <tr>
          <th>Arguments:</th>
          <td>Delay (s): <strong>{{delay}}</strong> / Iterations: <strong>{{iterations}}</strong> / Restart: <strong>{{#restart}}Yes{{/restart}}{{^restart}}No{{/restart}}</strong></td>
        </tr><tr>
          <th>Number of tests:</th>
          <td>{{testCount}}</td>
        </tr><tr>
          <th>Number of checkpoints:</th>
          <td>{{checkpointCount}} ({{checkpointsPerTest}} per test)
          </td>
        </tr>
        {{#stats_available}}
          {{#memory}}
            {{#allocated}}<tr>
              <th>Allocated memory (MB):</th>
              <td>Minimum: <strong>{{min}}</strong> / Maximum: <strong>{{max}}</strong> / Average: <strong>{{average}}</strong></td>
            </tr>{{/allocated}}
            {{#mapped}}<tr>
              <th>Mapped memory (MB):</th>
              <td>Minimum: <strong>{{min}}</strong> / Maximum: <strong>{{max}}</strong> / Average: <strong>{{average}}</strong></td>
            </tr>{{/mapped}}
            {{#explicit}}<tr>
              <th>Explicit memory (MB):</th>
              <td>Minimum: <strong>{{min}}</strong> / Maximum: <strong>{{max}}</strong> / Average: <strong>{{average}}</strong></td>
            </tr>{{/explicit}}
            {{#resident}}<tr>
              <th>Resident memory (MB):</th>
              <td>Minimum: <strong>{{min}}</strong> / Maximum: <strong>{{max}}</strong> / Average: <strong>{{average}}</strong></td>
            </tr>{{/resident}}
          {{/memory}}
        {{/stats_available}}
      </tbody>
    </table>

    <script>
        chart1 = new Highcharts.Chart({
            chart: {
                borderColor: '#AAAAAA',
                borderRadius: 10,
                borderWidth: 1,
                renderTo: 'checkpoints-memory-usage-chart',
                defaultSeriesType: 'line'
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                line: {
                    marker: {
                        enabled: false
                    }
                },
                series: {
                    pointStart: 1
                    }
            },
            series: [{
                name: 'Allocated',
                data: [{{#checkpoints}}{
                    name: "<strong>File:</strong> {{testFile}}<br/><strong>Method:</strong> {{testMethod}}<br/><strong>Checkpoint:</strong> {{label}}",
                    y: {{#memory}}{{allocated}}{{^allocated}}""{{/allocated}}{{/memory}}
                },{{/checkpoints}}]
            }, {
                name: 'Mapped',
                data: [{{#checkpoints}}{
                    name: "<strong>File:</strong> {{testFile}}<br/><strong>Method:</strong> {{testMethod}}<br/><strong>Checkpoint:</strong> {{label}}",
                    y: {{#memory}}{{mapped}}{{^mapped}}""{{/mapped}}{{/memory}}
                },{{/checkpoints}}]
            }, {
                name: 'Explicit',
                data: [{{#checkpoints}}{
                    name: "<strong>File:</strong> {{testFile}}<br/><strong>Method:</strong> {{testMethod}}<br/><strong>Checkpoint:</strong> {{label}}",
                    y: {{#memory}}{{explicit}}{{^explicit}}""{{/explicit}}{{/memory}}
                },{{/checkpoints}}]
            }, {
                name: 'Resident',
                data: [{{#checkpoints}}{
                    name: "<strong>File:</strong> {{testFile}}<br/><strong>Method:</strong> {{testMethod}}<br/><strong>Checkpoint:</strong> {{label}}",
                    y: {{#memory}}{{resident}}{{^resident}}""{{/resident}}{{/memory}}
                },{{/checkpoints}}]
            }],
            title: {
                text: 'Memory Usage (' + {{checkpointCount}} + ' checkpoints)'
            },
            tooltip: {
                formatter: function() {
                    return this.point.name + '<br/>' +
                        '<strong>' + this.series.name + ' memory: </strong>' + this.y + ' MB';
                }
            },
            xAxis: {
                allowDecimals: false,
                gridLineWidth: 1,
                title: {
                    text: 'Checkpoints'
                },
                labels: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: 'Memory Usage (MB)'
                },
                min: 0
            },
        });

        {{#stats_available}}
        chart1 = new Highcharts.Chart({
            chart: {
                borderColor: '#AAAAAA',
                borderRadius: 10,
                borderWidth: 1,
                renderTo: 'tests-memory-usage-chart',
                defaultSeriesType: 'line'
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                line: {
                    marker: {
                        enabled: false
                    }
                },
                series: {
                    pointStart: 1
                    }
            },
            series: [{
                name: 'Allocated',
                data: [{{#tests}}{
                    name: "<strong>File:</strong> {{testFile}}<br/><strong>Method:</strong> {{testMethod}}",
                    y: {{#memory}}{{#allocated}}{{average}}{{/allocated}}{{^allocated}}""{{/allocated}}{{/memory}}
                },{{/tests}}]
            }, {
                name: 'Mapped',
                data: [{{#tests}}{
                    name: "<strong>File:</strong> {{testFile}}<br/><strong>Method:</strong> {{testMethod}}",
                    y: {{#memory}}{{#mapped}}{{average}}{{/mapped}}{{^mapped}}""{{/mapped}}{{/memory}}
                },{{/tests}}]
            }, {
                name: 'Explicit',
                data: [{{#tests}}{
                    name: "<strong>File:</strong> {{testFile}}<br/><strong>Method:</strong> {{testMethod}}",
                    y: {{#memory}}{{#explicit}}{{average}}{{/explicit}}{{^explicit}}""{{/explicit}}{{/memory}}
                },{{/tests}}]
            }, {
                name: 'Resident',
                data: [{{#tests}}{
                    name: "<strong>File:</strong> {{testFile}}<br/><strong>Method:</strong> {{testMethod}}",
                    y: {{#memory}}{{#resident}}{{average}}{{/resident}}{{^resident}}""{{/resident}}{{/memory}}
                },{{/tests}}]
            }],
            title: {
                text: 'Memory Usage (' + {{testCount}} + ' tests)'
            },
            tooltip: {
                formatter: function() {
                    return this.point.name + '<br/>' +
                        '<strong>' + this.series.name + ' memory: </strong>' + this.y + ' MB';
                }
            },
            xAxis: {
                allowDecimals: false,
                gridLineWidth: 1,
                title: {
                    text: 'Tests'
                },
            },
            yAxis: {
                title: {
                    text: 'Memory Usage (MB)'
                },
                min: 0
            }
        });
        {{/stats_available}}
    </script>

    <div id="checkpoints-memory-usage-chart" class="chart" style="float:left"></div>
    <div id="tests-memory-usage-chart" class="chart"></div>

    <table id="endurance_result">
      <thead>
        <tr>
          <th rowspan="2">Filename</th>
          <th rowspan="2">Test</th>
          {{#stats_available}}
            {{#memory}}
              {{#allocated}}<th colspan="3">Allocated Memory (MB)</th>{{/allocated}}
              {{#mapped}}<th colspan="3">Mapped Memory (MB)</th>{{/mapped}}
              {{#explicit}}<th colspan="3">Explicit Memory (MB)</th>{{/explicit}}
              {{#resident}}<th colspan="3">Resident Memory (MB)</th>{{/resident}}
            {{/memory}}
          {{/stats_available}}
        </tr>
        {{#stats_available}}
          <tr>
            <th>min</th>
            <th>max</th>
            <th>average</th>
            <th>min</th>
            <th>max</th>
            <th>average</th>
          </tr>
        {{/stats_available}}

        </tr>
      </thead>
      <tbody>
        {{#tests}}
        <tr>
          <td>{{testFile}}</td>
          <td>{{testMethod}}</td>
          {{#memory}}
            {{#allocated}}
              <td class="results">{{min}}</td>
              <td class="results">{{max}}</td>
              <td class="results">{{average}}</td>
            {{/allocated}}
            {{#mapped}}
              <td class="results">{{min}}</td>
              <td class="results">{{max}}</td>
              <td class="results">{{average}}</td>
            {{/mapped}}
            {{#explicit}}
              <td class="results">{{min}}</td>
              <td class="results">{{max}}</td>
              <td class="results">{{average}}</td>
            {{/explicit}}
            {{#resident}}
              <td class="results">{{min}}</td>
              <td class="results">{{max}}</td>
              <td class="results">{{average}}</td>
            {{/resident}}
          {{/memory}}
        </tr>
        {{/tests}}
      </tbody>
    </table>

    <h2>Results</h2>
    <p id="filter">
      Filter:
      <a href="#" id="all">All</a>
      <a href="#" id="passed">Passed</a>
      <a href="#" id="failed">Failed</a>
      <a href="#" id="skipped">Skipped</a>
    </p>

    <table id="result">
      <thead>
        <th>Status</th>
        <th>Filename</th>
        <th>Test</th>
        <th>Information</th>
      </thead>
      <tbody>
        {{#results}}
        <tr class="{{status}}">
          <td>{{status}}</td>
          <td>{{filename}}</td>
          <td>{{test}}</td>
          <td class="information">
            {{{information}}}
            <div class="tooltip">{{{stack}}}<div>
          </td>
        </tr>
        {{/results}}
      </tbody>
    </table>

  </body>

