    <fieldset id="filter">
      <legend>Filter</legend>
      <div id="branch-selection">
        <span>Branch:</span>
        <span>All</span>
        {{#firefox_versions}}
          <span>{{{.}}}</span>
        {{/firefox_versions}}
      </div>

      <div id="os-selection">
        <span>OS: </span>
        <span>All</span>
        <span>Linux</span>
        <span>Mac</span>
        <span>Windows NT</span>
      </div>

      <div id="date">
        <span>From: </span>
        <input id="start-date" class="datepicker" type="text" value="" size="11" />
        <span>To: </span>
        <input id="end-date" class="datepicker" type="text" value="" size="11" />
      </div>
    </fieldset>

    <h2>Reports for Endurance Tests</h2>

    <table id="results">
      <thead>
        <tr>
          <th rowspan="2">Date</th>
          <th rowspan="2">Version</th>
          <th rowspan="2">Build</th>
          <th rowspan="2">Locale</th>
          <th rowspan="2">Platform</th>
          <th rowspan="2">Version</th>
          <th rowspan="2">CPU</th>
          <th rowspan="2">Delay (s)</th>
          <th rowspan="2"># Iterations</th>
          <th colspan="2" title="Explicit">Memory (MB)</th>
          <th rowspan="2"># Pass</th>
          <th rowspan="2"># Skip</th>
          <th rowspan="2"># Fail</th>
        </tr><tr>
          <th>min</th>
          <th>max</th>
        </tr>
      </thead>
      <tbody>
      {{#reports}}
        <tr>
          <td><a href="{{report_link}}">{{time_start}}</a></td>
          <td>{{application_version}}</td>
          <td>{{build_id}}</td>
          <td>{{locale}}</td>
          <td>{{system_name}}</td>
          <td>{{system_version}}</td>
          <td>{{processor}}</td>
          <td class="results">{{delay}}</td>
          <td class="results">{{iterations}}</td>
          <td class="results">{{#memory}}{{#explicit}}{{min}}{{/explicit}}{{/memory}}</td>
          <td class="results">{{#memory}}{{#explicit}}{{max}}{{/explicit}}{{/memory}}</td>
          <td class="results">{{tests_passed}}</td>
          <td class="results">{{tests_skipped}}</td>
          <td class="results">{{tests_failed}}</td>
        </tr>
      {{/reports}}
      </tbody>
    </table>
