    <fieldset id="filter">
      <legend>Filter</legend>

      <div id="channel-selection">
        <span>Channel: </span>
        <span>All</span>
        {{#update_channels}}
          <span>{{{.}}}</span>
        {{/update_channels}}
      </div>

      <div id="date">
        <span>From: </span>
        <input id="start-date" class="datepicker" type="text" value="" size="11" />
        <span>To: </span>
        <input id="end-date" class="datepicker" type="text" value="" size="11" />
      </div>
    </fieldset>

    <h2>Details of Update Tests for version <em>{{post_build}}</em> on <em>{{channel}}</em> channel</h2>

    <table id="results">
      <thead>
        <tr>
          <th></th>
          {{#platforms}}
          <th>{{.}}</th>
          {{/platforms}}
        </tr>
      </thead>
      <tbody>
      {{#data}}
        <tr>
          <td>{{version}}</td>
          {{#platform}}
          <td>
            {{#builds}}
              <a href="{{report_link}}">{{locale}}</a><br/>
              {{#updates}}
                {{#success}}
                <span class="passed">
                {{/success}}
                {{^success}}
                <span class="failed">
                {{/success}}
                {{#patch}}
                  {{#is_complete}}
                    complete
                  {{/is_complete}}
                  {{^is_complete}}
                    partial
                  {{/is_complete}}
                {{/patch}}
                {{#fallback}}
                + fallback
                {{/fallback}}
                </span>
              {{/updates}}
              <br/><br/>
            {{/builds}}
          </td>
          {{/platform}}
        </tr>
      {{/data}}
      </tbody>
    </table>
