    <h2>Information</h2>
    <table id="information" class="clean">
      <tr>
       <th>Report:</th>
       <td><a href="http://jsonviewer.stack.hu/#{{domain}}/db/{{id}}">{{id}}</a></td>
      </tr><tr>
        <th>Build:</th>
        <td>
         {{post_app_name}} {{post_app_version}} ({{post_platform_version}}, {{post_app_locale}}, <a href="{{post_app_sourcestamp}}">{{post_platform_buildId}}</a>)
        </td>
      </tr>{{#addonsIncluded}}<tr>
        <th>Add-ons:</th>
        <td>
          <ul class="addons">
            <li>Extensions:
            <ul>
              {{#extensions}}<li>{{name}} {{version}}
                ({{#isActive}}<span class="passed">enabled</span>{{/isActive}}{{^isActive}}<span class="failed">disabled</span>{{/isActive}},
                {{#isCompatible}}<span class="passed">compatible</span>{{/isCompatible}}{{^isCompatible}}<span class="failed">incompatible</span>{{/isCompatible}})</li>
              {{/extensions}}
              {{^extensions}}<li>None</li>{{/extensions}}
            </ul></li>
            <li>Themes:
            <ul>
              {{#themes}}<li>{{name}} {{version}}
                ({{#isActive}}<span class="passed">enabled</span>{{/isActive}}{{^isActive}}<span class="failed">disabled</span>{{/isActive}},
                {{#isCompatible}}<span class="passed">compatible</span>{{/isCompatible}}{{^isCompatible}}<span class="failed">incompatible</span>{{/isCompatible}})</li>
              {{/themes}}
              {{^themes}}<li>None</li>{{/themes}}
            </ul></li>
            <li>Plugins:
            <ul>
              {{#plugins}}<li>{{name}} {{version}}
                ({{#isActive}}<span class="passed">enabled</span>{{/isActive}}{{^isActive}}<span class="failed">disabled</span>{{/isActive}},
                {{#isCompatible}}<span class="passed">compatible</span>{{/isCompatible}}{{^isCompatible}}<span class="failed">incompatible</span>{{/isCompatible}})</li>
              {{/plugins}}
              {{^plugins}}<li>None</li>{{/plugins}}
            </ul></li>
          </ul>
        </td>
      </tr>{{/addonsIncluded}}<tr>
        <th>Platform:</th>
        <td>{{system}} {{system_version}} {{service_pack}} ({{cpu}})</td>
      </tr><tr>
        <th>Duration:</th>
        <td>{{time_start}} - {{time_end}}</td>
      </tr><tr>
        <th>Mozmill:</th>
        <td>{{mozmill_version}}</td>
      </tr><tr>
        <th>Results:</th>
        <td>Pass: <strong>{{passed}}</strong> / Fail: <strong>{{failed}}</strong> / Skip: <strong>{{skipped}}</td>
      </tr>
    </table>

    <h2>Updates</h2>
    {{#updates}}
    <table class="clean">
      <tbody>
        <tr>
          <th>Status:</th>
          <td>
            {{#success}}
              PASS
            {{/success}}
            {{^success}}
              FAIL
            {{/success}}
          </td>
        </tr><tr>
          {{#build_pre}}
          <th>Build (pre):</th>
          <td>{{user_agent}} ({{locale}}, <a href="{{sourcestamp}}">{{buildid}}</a>) - Snippet: <a href="{{url_aus}}">AUS</a></td>
          {{/build_pre}}
        </tr><tr>
          {{#build_post}}
          <th>Build (post):</th>
          <td>{{user_agent}} ({{locale}}, <a href="{{sourcestamp}}">{{buildid}}</a>) - Snippet: <a href="{{url_aus}}">AUS</a></td>
          {{/build_post}}
        </tr><tr>
          {{#patch}}
          <th>Channel:</td>
          <td>{{channel}}</td>
          {{/patch}}
        </tr><tr>
          <th>Type:</td>
          <td>
          {{#patch}}
            {{type}},
            {{#is_complete}}
              complete,
            {{/is_complete}}
            {{^is_complete}}
              partial,
            {{/is_complete}}
          {{/patch}}
            {{#fallback}}
              fallback
            {{/fallback}}
            {{^fallback}}
              direct
            {{/fallback}}
          </td>
        </tr><tr>
          {{#patch}}
          <th>Download:</td>
          <td><a href="{{url_mirror}}">{{url_mirror}}</a> ({{size}} Byte, {{download_duration}} ms)</td>
          {{/patch}}
        </tr><tr>
          {{#build_post}}
          <th>Disabled Add-ons:</td>
          <td>{{disabled_addons}}</td>
          {{/build_post}}
        </tr>
      </tbody>
    </table>
    {{/updates}}
    {{^updates}}
    <table class="clean">
      <tr>
        <td>No update results available</td>
      </tr>
    </table>
    {{/updates}}

    <h2>Results</h2>
    <p id="filter">
      Filter:
      <a href="#" id="all">All</a>
      <a href="#" id="passed">Passed</a>
      <a href="#" id="failed">Failed</a>
      <a href="#" id="skipped">Skipped</a>
    </p>

    <table id="result">
      <thead>
        <th>Status</th>
        <th>Filename</th>
        <th>Test</th>
        <th>Information</th>
      </thead>
      <tbody>
        {{#results}}
        <tr class="{{status}}">
          <td>{{status}}</td>
          <td>
            {{#repository_url}}<a href="{{repository_url}}">{{filename}}</a>{{/repository_url}}
            {{^repository_url}}{{filename}}{{/repository_url}}
          </td>
          <td>{{test}}</td>
          <td>
            <ul class="information">
            {{#info}}
              <li>
                {{{message}}}
                {{#stack}}
                  <a href="#" class="show-tooltip">show more</a>
                  <div class="tooltip"><div>{{{stack}}}</div></div>
                {{/stack}}
              </li>
            {{/info}}
            </ul>
          </td>
        </tr>
        {{/results}}
      </tbody>
    </table>
  </body>
